[Desktop Entry]
Version=1.0
Type=Application

Name=Helwan Package Installer
GenericName=Package Installer
Comment=Install Helwan and Arch Linux packages easily

Exec=hpi %F
Icon=hpi
Terminal=false
StartupNotify=true
StartupWMClass=hpi

Categories=System;PackageManager;

MimeType=application/x-arch-package;

Keywords=package;installer;pacman;helwan;arch;
